<footer id="footer">

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="logo" href="index.html">
                        <img src="resources/images/logo.png" alt="logo" width="30px">
                    </a>
                </div>
                <div class="col-md-7">
                    <p class="item">
                        <em>IM7 Studio</em><span>·</span><em>Copyright &copy; All Rights Reserved </em><span>·</span><a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" target="_blank" style="color: #fff;">京ICP备16022843号</a>
                    </p>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
</footer>