<div class="jumbotron" id="home">
    <div class="intro">
        <div class="container">

            <div class="row">
                <h1 class="text-center">To Be A Web Developer</h1>

                <p class="text-center sub-title">只为培养有思想的工程师,有梦想的互联网创造者</p><br/>
            </div>
            <div class="row triangles">
                <div class="up-triangle animated fadeInUp">
                    <div class="info">
                        <i class="icon icon-cogs"></i><br/>
                        前端面试辅导课程
                    </div>
                </div>
                <div class="down-triangle animated fadeInDown">
                    <div class="info">

                        Web前端入门课程<br/>
                        <i class="icon icon-envelope-alt"></i>
                    </div>
                </div>
                <div class="up-triangle animated fadeInUp">
                    <div class="info">

                        <i class="icon icon-picture"></i><br/>
                        免费的公开课程
                    </div>
                </div>
                <div class="down-triangle animated fadeInDown">
                    <div class="info">

                        JavaScript<br/>高级进阶<br/>
                        <i class="icon icon-code"></i>
                    </div>
                </div>
                <div class="up-triangle animated fadeInUp">
                    <div class="info">

                        <i class="icon icon-thumbs-up"></i><br/>
                        Web应用开发实践

                    </div>
                </div>
                <div class="down-triangle animated fadeInDown">
                    <div class="info">

                        CSS高级应用专题<br/>
                        <i class="icon icon-laptop"></i>
                    </div>
                </div>
                <div class="up-triangle animated fadeInUp">
                    <div class="info">

                        <i class="icon icon-comments-alt"></i><br/>
                        UI框架应用专题
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<section id="features">
    <div class="container">
        <div>
            <h2 class="text-center">IM7Studio的课程特色</h2>
        </div>
        <div class="row inner-page">
            <div class="col-md-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">全面的Web课程体系</h4>

                        <p class="tall">入门课程，进阶课程，自学辅导，帮助不同阶段的同学走得更快更远</p>
                    </div>
                </div>


            </div>
            <div class="col-md-3">

                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">重视原理和设计思想</h4>

                        <p class="tall">掌握工程技术的同时，进一步了解原理和设计思想，学以致用，举一反三</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">有针对性的面试辅导</h4>

                        <p class="tall">定位名企，真题练习，面试模拟，让你从众多候选人中脱颖而出</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">

                <div class="feature-box">
                    <div class="feature-box-icon">
                        <i class="fa fa-rss"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="shorter">手把手的实例练习</h4>

                        <p class="tall">真实互联网公司业务案例，真实需求，把握行业技术新方向</p>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>
<section class="pricing" id="pricing">

    <div class="container">
        <div class="row">
            <div class="col-md-12 pricing-intro white">
                <h2 class="page-headline large text-center">近期课程</h2>
                <p class="text-center"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pricing-table">
            <div class="col-md-4">
                <div class="panel panel-danger">
                    <div class="panel-heading"><h3 class="text-center">AngularJs & Bootstrap专题</h3></div>
                    <div class="panel-body text-center">
                        <a class="btn btn-lg btn-block btn-danger" ng-click="showSyllabus(1)">课程安排</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="icon-ok text-danger"></i>课程时长:7周</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i>时间:每周一,二,三晚8:00-10:00</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 上课方式:QQ直播orYY直播(加密)</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 费用:20元/课</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> QQ联系方式:1005019471</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading"><h3 class="text-center">从入门到精通Web前端周末班</h3></div>
                    <div class="panel-body text-center">
                        <a class="btn btn-lg btn-block btn-warning" ng-click="showSyllabus(2)">课程安排</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 课程时长:20周</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 时间:周末9:00-17:30</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 上课方式:面授</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 费用:5999元</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> QQ联系方式:1005019471</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3 class="text-center">前端免费公开课</h3></div>
                    <div class="panel-body text-center">
                        <a class="btn btn-lg btn-block btn-primary" ng-click="showSyllabus(3)">课程安排</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 课程时长:持续直播</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 时间: 每周四,日晚9:00</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 上课方式:QQ直播</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 费用:免费</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> QQ追课群:324672235</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center inner-page">
                <h2>流行技术案例</h2>

                <p class="sub-title">在IM7Studio你有机会练习实现这些案例</p>
            </div>
        </div>
    </div>


    <div class="clr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/angular-case.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">AngularJs 应用设计</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/metro-ui-case.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">Metro UI</h3>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/responsive-case.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">响应式设计</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/jquery-plugin.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">JQuery插件设计</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/css-animate.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">css动画实践</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/css-architecture.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">CSS解决方案</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/bootstrap.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">Bootstrap3网站设计</h3>


                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="portfolio-block"><img src="resources/images/nodejs-case.png" alt="Protect"/>
                    <div class="portfolio-caption text-center animated">
                        <h3 class="animated">nodeJs网上书店</h3>


                    </div>
                </div>
            </div>


        </div>
    </div>

</section>
<section class="slider" id="services">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row features">
            <div class="col-md-12 text-center">
                <h2>为什么选择IM7Studio</h2>
                <p class="sub-title">IM7Studio
                    我们希望培养有思想，有严谨代码风格的工程师。优秀的工程师不仅局限于功能的实现，更注重对原理的掌握，对实现方式的优化，掌握技术学习的方法。
                    Im7Studio主要面向计算机专业毕业生，互联网软件工程师，技术极客，或者准备转型加入这个行业的朋友进行互联网技术培训。我们的讲师都是来自知名互联网企业的高级Web工程师，同时我们也会经常邀请行业内的技术专家进行分享。目前主要提供前沿技术在线直播课程和线下小班两种授课方式。欢迎你的加入。</p>
            </div>
        </div>
        <div class="row features">

            <div class="col-lg-2 col-sm-4">
                <div class="hexicon">
                    <div class="inicon retina"></div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="hexicon">
                    <div class="inicon support"></div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="hexicon">
                    <div class="inicon speed"></div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-4">
                <div class="hexicon">
                    <div class="inicon social"></div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="hexicon">
                    <div class="inicon shopping"></div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="hexicon">
                    <div class="inicon cloud"></div>
                </div>
            </div>


        </div>


    </div>
</section>
<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <br/>
                <h4 class="pull-top">免费在线公开课</h4>
                <p>
                    我们也推出了一系列免费课程录制视频，还有每周持续的QQ直播公开课。欢迎大家加入我们的QQ追课2群:324672235，学习交流Web开发技术、工作经验、面试心得，收看每周的公开课。
                    也欢迎大家关注我们的微信公众号:IM7Studio,关注更多课程信息和Web前沿技术。
                </p>
                <div class="col-md-4" style="text-align: center">
                    <img src="resources/images/weixin_big.jpg">
                    微信公众号
                </div>
                <div class="col-md-4" style="text-align: center">
                    <img src="resources/images/weidian.jpg">
                    IM7微店
                </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <br/>
                <h4 class="pull-top">周末班上课地点</h4>
                <!--<walnut-map></walnut-map>-->

               <div id="map" style="height:300px;width:400px;border:1px solid #bcbcbc;"></div>
                <script type="text/javascript">
                    ShowMap("map",{city:'北京',addr:'北京市海淀区增光路27号',title:'Im7Studio上课地点',pic:'resources/images/logo.png',ismove:'0',piobj:'nxp'});
                </script>
              <p>乘车路线: 92路, 658路, 86路, 地铁6号线, 地铁9号线（白石桥南）</p>
            </div>
        </div>
    </div>
    <div id='ss_menu'>

        <div>
            <i class="fa fa-weibo"></i>
        </div>
        <div>
            <i class="fa fa-weixin" id="weixin"><a ng-click="showSyllabus(4)"></a></i>
        </div>
        <div>
            <i class="fa fa-qq"><a class="blue ui huge button" target="_blank"
                                   href="http://wpa.qq.com/msgrd?v=3&uin=1005019471&site=qq&menu=yes"></a></i>
        </div>
        <div>
            <i class="fa fa-qq"><a class="blue ui huge button" target="_blank"
                                   href="http://wpa.qq.com/msgrd?v=3&uin=2481700839&site=qq&menu=yes"></a></i>
        </div>
        <div class='menu'>
            <div class='share' id='ss_toggle' data-rot='180'>
                <div class='menu_circle'>点我<br>咨询</div>
                <div class='bar'></div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        if ($(window).width() > 960) {
            var tw = $('.triangles').width() / 7 + 32;
            var ta = tw / 2 + 22;
            $('.down-triangle').css('border-top', tw + 'px solid rgba(0,0,0,0.4)').css('border-left', ta + 'px solid transparent').css('border-right', ta + 'px solid transparent');
            $('.up-triangle').css('border-bottom', tw + 'px solid rgba(0,0,0,0.4)').css('border-left', ta + 'px solid transparent').css('border-right', ta + 'px solid transparent');
        }
    });
    $(document).ready(function (ev) {
        var toggle = $('#ss_toggle');
        var menu = $('#ss_menu');
        var rot;
        $('#ss_toggle').on('click', function (ev) {
            rot = parseInt($(this).data('rot')) - 180;
            menu.css('transform', 'rotate(' + rot + 'deg)');
            menu.css('webkitTransform', 'rotate(' + rot + 'deg)');
            if (rot / 180 % 2 == 0) {
                toggle.parent().addClass('ss_active');
                toggle.addClass('close');
            } else {
                toggle.parent().removeClass('ss_active');
                toggle.removeClass('close');
            }
            $(this).data('rot', rot);
        });
        menu.on('transitionend webkitTransitionEnd oTransitionEnd', function () {
            if (rot / 180 % 2 == 0) {
                $('#ss_menu div i').addClass('ss_animate');
            } else {
                $('#ss_menu div i').removeClass('ss_animate');
            }
        });
    });
</script>